{% extends 'sbadmin/base.html' %}{% load static %} {% block content %}

<!-- page heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h5 mb-0 text-gray-800">
    <a href="{% url 'siteapp:sites' %}">Site<a/> / 
    <a href="{% url 'rackapp:racks' %}">Rack<a/> / Blade
  </h1>
</div>

<!-- table data -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-table mr-2"></i> Blade List</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>IP</th>
            <th>Rack</th>
            <th></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th>Name</th>
            <th>IP</th>
            <th>Rack</th>
            <th>
              <a href="#"
                class="btn btn-primary btn-sm btn-block">CREATE BLADE</a>
            </th>
          </tr>
        </tfoot>
        <tbody>
          {% for blade in page_obj %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ blade.name }}</td>
            <td>{{ blade.ip }}</td>
            <td>
              <a href="{% url 'rackapp:rack_query' blade.rack.id %}"
                class="text-primary">
                {{ blade.rack.name }}
              </a>
            </td>
            <td class="text-center">
              <a href="#"
                class="text-info mr-4" title="edit">
                <i class="fas fa-edit"></i>
              </a>

              <a href="#" class="text-danger ml-4" title="delete">
                <i class="fas fa-trash-alt"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'core/pagination.html' %}

    </div>
  </div>
</div>

{% endblock content %}
