
<!-- sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  
  <!-- sidebar - brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fa fa-cubes" aria-hidden="true"></i>
    </div>
    <div class="sidebar-brand-text mx-3">IPbox</div>
  </a>

  <!-- divider -->
  <hr class="sidebar-divider my-0" />

  <!-- nav item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="#">
      <i class="fa fa-home" aria-hidden="true"></i>
      <span>Home</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Interface</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'siteapp:sites' %}">
      <i class="fab fa-hive"></i>
      <span>Site</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'rackapp:racks' %}">
      <i class="fas fa-server"></i>
      <span>Rack</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'bladeapp:blades' %}">
      <i class="fas fa-vector-square"></i>
      <span>Blade</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="far fa-hdd"></i>
      <span>Slot</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fa fa-inbox" aria-hidden="true"></i>
      <span>VM</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-ethernet"></i>
      <span>CLuster</span>
    </a>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-info"></i>
      <span>About</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
<!-- end sidebar -->